<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<title>login</title>
</head>
<body>
	{% if form.errors%}
	<p>algo va mal....</p>
	{% endif %}

	{% if next %}
	<p>no pudes ingresar a esta pagina</p>
	{% endif %}


	<form method="post" action="{% url 'login' %}"> 
		{% csrf_token %}
		<div>
			<p>usuario: </p>
			{{ form.username }}
			{{ form.email }}
		</div>
		<div>
			<p> password: </p>
			{{ form.password }}
		</div>

		<input type="submit" name="login">
		<input type="hidden" name="next" value="{{ next }}">

	</form>

</body>
</html>