<!DOCTYPE html>
<html>
<head>
	<title>contasic - redirect</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<div class="container">
	<div class="row">
		<div class="col">
			<h1>Gracias por registrarte en contasic</h1>			
			<!--<h3>ahora ya puedes ingresar a nuestra pagina</h3>-->
			<h2>ahora ya puedes ingresar a nuestro aplicativo web desde cualquier dispositivo electrónico</h2>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<a href="{% url 'login' %}" class="btn btn-success">Iniciar sesion</a>
		</div>
	</div>
</div>

</body>
</html>



