{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
	<title>Contasic - login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css ">
	<link rel="stylesheet" href="{% static 'logeo/vendor/animate/animate.css' %} ">
	<link rel="stylesheet" href="{% static 'logeo/vendor/css-hamburgers/hamburgers.min.css' %} ">	
	<link rel="stylesheet" href="{% static 'logeo/vendor/animsition/css/animsition.min.css' %} ">
	<link rel="stylesheet" href="{% static 'logeo/vendor/select2/select2.min.css' %} ">
	<link rel="stylesheet" href="{% static 'logeo/vendor/daterangepicker/daterangepicker.css' %} ">
	<link rel="stylesheet" href="{% static 'logeo/css/util.css' %} ">
	<link rel="stylesheet" href="{% static 'logeo/css/main.css' %} ">	

</head>
<style type="text/css">
	#titulo{
		font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
	}

	.btn-default {
	  font-family: Raleway-SemiBold;
	  font-size: 10px;
	  color: rgba(108, 88, 179, 0.75);
	  letter-spacing: 1px;
	  line-height: 15px;
	  border: 2px solid rgba(108, 89, 179, 0.75);
	  border-radius: 40px;
	  background: transparent;
	  transition: all 0.3s ease 0s;
	}

	.btn-default:hover {
	  color: #FFF;
	  background: rgba(108, 88, 179, 0.75);
	  border: 2px solid rgba(108, 89, 179, 0.75);
	}

	#centrar{
		text-align: justify;
		margin-left: 20px;
		font-family: "Comic Sans MS", cursive, sans-serif;
		color: #2F8075;
	}
	#centrar_b{
		margin-left: 35px;
		font-family: "Comic Sans MS", cursive, sans-serif;
		color: #2F8075;
	}

</style>
<body>
	
	<div class="limiter">
		<div class="container-login100">




			<div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
				<form class="login100-form validate-form flex-sb flex-w" method="POST" action="{% url 'login' %}">
					{% csrf_token %}
					<span id="titulo" class="login100-form-title p-b-32">
						Contasic login
					</span>

					<span id="titulo" class="txt1 p-b-11">
						Usuario
					</span>
					<div class="wrap-input100 validate-input m-b-36" data-validate = "Username is required">
						<!--<input class="input100" type="text" name="username" >-->
						<!--<span class="focus-input100"></span>-->
			    		{{ form.username }}
			    		{{ form.usermame.error }}

					</div>
					
					<span id="titulo" class="txt1 p-b-11">
						Password
					</span>
					<div class="wrap-input100 validate-input m-b-12" data-validate = "Password is required">
						<span class="btn-show-pass">
							<i class="fa fa-eye"></i>
						</span>
						<!--<input class="input100" type="password" name="pass" >-->
						<!--<span class="focus-input100"></span>-->
						{{ form.password }}
						{{ form.password.error }}
					</div>
					
					<div class="flex-sb-m w-full p-b-48">
						<div class="contact100-form-checkbox">
							<!--
							<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
							<label class="label-checkbox100" for="ckb1">
								Remember me
							</label>
						-->
						</div>

						<div>
							<!--
							<a href="#" class="txt3">
								Forgot Password?
							</a>
						-->
						</div>
					</div>
						
					
					<div>
						<button class="login100-form-btn btn-primary">Ingresar</button>
						<small id="centrar">si ya eres usuario</small>	
					</div>
					<!--
					<div>
						<a href="{% url 'signup' %}" class="login100-form-btn">Registrate</a>
						<small id="centrar_b">Gratuitamente </small><br>
						<small id="centrar">si aun no eres usuario </small>
					</div>
					-->
					
					

						
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	

	<script src="{% static 'logeo/vendor/jquery/jquery-3.2.1.min.js' %}"></script>

	<script src="{% static 'logeo/vendor/animsition/js/animsition.min.js' %}"></script>

	<script src="{% static 'logeo/vendor/bootstrap/js/popper.js' %}"></script>

	<script src="{% static 'logeo/vendor/bootstrap/js/bootstrap.min.js' %}"></script>

	<script src="{% static 'logeo/vendor/select2/select2.min.js' %}"></script>

	<script src="{% static 'logeo/vendor/daterangepicker/moment.min.js' %}"></script>

	<script src="{% static 'logeo/vendor/daterangepicker/moment.min.js' %}"></script>
	
	<script src="{% static 'logeo/vendor/daterangepicker/daterangepicker.js' %}"></script>

	<script src="{% static 'logeo/vendor/countdowntime/countdowntime.js' %}"></script>

	<script src="{% static 'logeo/js/main.js' %}"></script>
<!---->

</body>
</html>