<!DOCTYPE html>
<html>
<head>
	<title>Contasic - login</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>


<div class="container">
	<div class="row">
		<div class="col-lg-12 col-xl-12">
			<h2>Ingresa tu usuario y tu password </h2>
			<p></p>
		</div>
		<div class="col-lg-12 col-xl-12">
			<form method="POST" action="{% url 'login' %}">
				{% csrf_token %}
			  <div class="form-group">
			    {{ form.username.label_tag }}
			    
			    {{ form.username }}
			    {{ form.usermame.error }}
			  </div>
			  <div class="form-group">
			    {{ form.password.label_tag }}
			    {{ form.password }}
			    {{ form.password.error }}
			  </div>
	  
	  			<button type="submit" class="btn btn-primary">ingresar</button>
	  			<a href="{% url 'signup' %}" class="btn btn-success">Registrate</a>
			</form>

		</div>
		
		
	</div>	
</div>


</body>
</html>






	
		
	
	


	
	
	
	

	

