{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Contasic - registrate</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css ">
  <link rel="stylesheet" href="{% static 'logeo/vendor/animate/animate.css' %} ">
  <link rel="stylesheet" href="{% static 'logeo/vendor/css-hamburgers/hamburgers.min.css' %} "> 
  <link rel="stylesheet" href="{% static 'logeo/vendor/animsition/css/animsition.min.css' %} ">
  <link rel="stylesheet" href="{% static 'logeo/vendor/select2/select2.min.css' %} ">
  <link rel="stylesheet" href="{% static 'logeo/vendor/daterangepicker/daterangepicker.css' %} ">
  <link rel="stylesheet" href="{% static 'logeo/css/util.css' %} ">
  <link rel="stylesheet" href="{% static 'logeo/css/main.css' %} "> 
</head>
<style type="text/css">
  #titulo{
    font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
    font-size: 20px;
  }
</style>
<body>
  <div class="limiter">
    <div class="container-login100">

      <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
        <form class="login100-form validate-form flex-sb flex-w" method="POST">
          {% csrf_token %}
          <span id="titulo" class="login100-form-title p-b-15">
            Rellena tus datos
          </span>

           {% for field in form %}
      
              <span id="titulo" class="txt1 p-b-11">
                {{ field.label_tag }}<br>
                    
              </span>
              <div class="wrap-input100 validate-input m-b-36">
                  {{ field }}
              </div>
        
          {% for error in field.errors %}
            {{ error }}
          {% endfor %}
      
          {% endfor %}
          

          <button type="submit" class="login100-form-btn btn-primary" >Guardar datos</button>
          <a href="{% url 'login' %}" class="login100-form-btn">Login</a>

        </form>
      </div>
    </div>
  </div>
  

  <div id="dropDownSelect1"></div>
  

  <script src="{% static 'logeo/vendor/jquery/jquery-3.2.1.min.js' %}"></script>

  <script src="{% static 'logeo/vendor/animsition/js/animsition.min.js' %}"></script>

  <script src="{% static 'logeo/vendor/bootstrap/js/popper.js' %}"></script>

  <script src="{% static 'logeo/vendor/bootstrap/js/bootstrap.min.js' %}"></script>

  <script src="{% static 'logeo/vendor/select2/select2.min.js' %}"></script>

  <script src="{% static 'logeo/vendor/daterangepicker/moment.min.js' %}"></script>

  <script src="{% static 'logeo/vendor/daterangepicker/moment.min.js' %}"></script>
  
  <script src="{% static 'logeo/vendor/daterangepicker/daterangepicker.js' %}"></script>

  <script src="{% static 'logeo/vendor/countdowntime/countdowntime.js' %}"></script>

  <script src="{% static 'logeo/js/main.js' %}"></script>
<!---->




</body>
</html>


 
