<!DOCTYPE html>
<html>
<head>
  <title>Contasic - registrate</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-lg-12 col-xl-12">
      <h2>Rellena tus datos </h2>
      <p></p>
    </div>
    <div class="col-lg-12 col-xl-12">
      <form method="post">
      {% csrf_token %}
      {% for field in form %}
      
        <div class="form-group">
          {{ field.label_tag }}<br>
          {{ field }}      
        </div>
        <div class="form-group">
          
        </div>
        
        {% for error in field.errors %}
          {{ error }}
        {% endfor %}
      
      {% endfor %}
    <button type="submit" class="btn btn-success" >Guardar datos</button>
    <a href="{% url 'login' %}" class="btn btn-warning">Login</a>
  </form>

    </div>
    
    
  </div>  
</div>




</body>
</html>


 
