{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/plain; charset=UTF-8"/>
  <title>NEW CONTASIC CONTABLE</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css ">
  <link rel="stylesheet" href="{% static 'admin/bower_components/bootstrap/dist/css/bootstrap.min.css' %} ">
  <!--
  <link rel="stylesheet" href="{% static 'admin/bower_components/font-awesome/css/font-awesome.min.css' %} ">
-->
  <link rel="stylesheet" href="{% static 'admin/bower_components/Ionicons/css/ionicons.min.css' %} ">
  <link rel="stylesheet" href="{% static 'admin/dist/css/AdminLTE.min.css' %} ">
  <link rel="stylesheet" href="{% static 'admin/dist/css/skins/_all-skins.min.css' %} ">
  <link rel="stylesheet" href="{% static 'admin/bower_components/morris.js/morris.css' %}">
  <link rel="stylesheet" href="{% static 'admin/bower_components/jvectormap/jquery-jvectormap.css' %} ">
  <link rel="stylesheet" href="{% static 'admin/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}">
  <link rel="stylesheet" href="{% static 'admin/bower_components/bootstrap-daterangepicker/daterangepicker.css' %}">
  <link rel="stylesheet" href="{% static 'admin/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css' %}">
  <style type="text/css">
    .linea{
      border-top: 2px solid black;
    }
    #tdebito,
    #tcredito, 
    #tdeudor, 
    #tacreedor, 
    #tacti, 
    #tpasi,
    #tper,
    #tgana{
     border-top: 2px solid black; 
    }
    
     @media screen  and (max-width: 500px)  {
      #nombresb{
        width:40px;
        overflow:hidden;
        white-space: nowrap;
      }

    }
    @media screen  and (max-width: 576px){
      #nombresb{
        width: 100px;
        overflow-x:hidden;
        white-space: nowrap; 
      }
      
    }
    
    #nombresb{
        width:100px;
        overflow:hidden;
        white-space: nowrap;
      }

    #TOTALES,
    #GANANCIA,
    #PERDIDA,
    #SUMATORIAS{
      border-top: 2px solid black; 
      font-weight: bold;
    }

    



    #TOTALES{
      background-color: #7DFF71;
    }
    #GANANCIA{
      background-color: #EBE686;
      
    }
    #PERDIDA{
      background-color: #EBE686;
      
    }
    #SUMATORIAS{
      background-color: #FFA254;
    }
    
  </style>
</head>
<body  class="hold-transition skin-blue sidebar-mini" onload="cargar()">
<div class="wrapper">

  <header class="main-header">
    <!-- Logo -->
    <a href="https://contasic.org/" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>C</b>TC</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Conta</b>SIC</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <!--usuario nav-->
      <!--**********************-->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->
          <li class="dropdown messages-menu">
          <!--
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-envelope-o"></i>
              <span class="label label-success">4</span>
            </a>
          -->
            <!--
            <ul class="dropdown-menu">
              <li class="header">You have 4 messages</li>
              <li>
                
                <ul class="menu">
                  <li>
                    <a href="#">
                      <div class="pull-left">
                        <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        Support Team
                        <small><i class="fa fa-clock-o"></i> 5 mins</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                  
                  <li>
                    <a href="#">
                      <div class="pull-left">
                        <img src="dist/img/user3-128x128.jpg" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        AdminLTE Design Team
                        <small><i class="fa fa-clock-o"></i> 2 hours</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <div class="pull-left">
                        <img src="dist/img/user4-128x128.jpg" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        Developers
                        <small><i class="fa fa-clock-o"></i> Today</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <div class="pull-left">
                        <img src="dist/img/user3-128x128.jpg" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        Sales Department
                        <small><i class="fa fa-clock-o"></i> Yesterday</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <div class="pull-left">
                        <img src="dist/img/user4-128x128.jpg" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        Reviewers
                        <small><i class="fa fa-clock-o"></i> 2 days</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="footer"><a href="#">See All Messages</a></li>
            </ul>
            -->
          </li>
          <!-- Notifications: style can be found in dropdown.less -->
          <li class="dropdown notifications-menu">
            <!--
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              <span class="label label-warning">10</span>
            </a>
            -->
            <ul class="dropdown-menu">
              <li class="header">You have 10 notifications</li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                  <li>
                    <a href="#">
                      <i class="fa fa-users text-aqua"></i> 5 new members joined today
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the
                      page and may cause design problems
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-users text-red"></i> 5 new members joined
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-user text-red"></i> You changed your username
                    </a>
                  </li>
                </ul>
              </li>
              <li class="footer"><a href="#">View all</a></li>
            </ul>
          </li>
          <!-- Tasks: style can be found in dropdown.less -->
          <li class="dropdown tasks-menu">
            <!--
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-flag-o"></i>
              <span class="label label-danger">9</span>
            </a>
            -->
            <ul class="dropdown-menu">
              <li class="header">You have 9 tasks</li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                  <li><!-- Task item -->
                    <a href="#">
                      <h3>
                        Design some buttons
                        <small class="pull-right">20%</small>
                      </h3>
                      <div class="progress xs">
                        <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar"
                             aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">20% Complete</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <!-- end task item -->
                  <li><!-- Task item -->
                    <a href="#">
                      <h3>
                        Create a nice theme
                        <small class="pull-right">40%</small>
                      </h3>
                      <div class="progress xs">
                        <div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar"
                             aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">40% Complete</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <!-- end task item -->
                  <li><!-- Task item -->
                    <a href="#">
                      <h3>
                        Some task I need to do
                        <small class="pull-right">60%</small>
                      </h3>
                      <div class="progress xs">
                        <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar"
                             aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">60% Complete</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <!-- end task item -->
                  <li><!-- Task item -->
                    <a href="#">
                      <h3>
                        Make beautiful transitions
                        <small class="pull-right">80%</small>
                      </h3>
                      <div class="progress xs">
                        <div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar"
                             aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">80% Complete</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <!-- end task item -->
                </ul>
              </li>
              <li class="footer">
                <a href="#">View all tasks</a>
              </li>
            </ul>
          </li>
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img id="logo" class="user-image" src="{% static 'image/logo.png' %}" alt="User Image">
              <span class="hidden-xs"> Bienvenido {{user}}</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                

                <p>
                  {{ user }}
                  <small>  {{ user.email }}</small>
                </p>
              </li>
              <!-- Menu Body -->
              <li class="user-body">
                <!--
                <div class="row">
                  <div class="col-xs-4 text-center">
                    <a href="#">Followers</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#">Sales</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#">Friends</a>
                  </div>
                </div>
                -->
                <!-- /.row -->
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
              <!--
                <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat">Profile</a>
                </div>
                -->
                <div class="pull-right">
                  
                  <a href="{% url 'logout' %}" class="btn btn-default btn-flat">salir</a>
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
          <!--
          <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
          </li>
          -->
        </ul>
      </div>


      <!--**********************-->
      <!--/.usuario nav-->



    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!--usuario-->
      <div class="user-panel">
        <div class="pull-left image">
          <br>
          
        </div>
        <div class="pull-left info">
          <p> </p>
          
        </div>
      </div>
      <!--/. usuario-->
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li>
          <a href="https://www.youtube.com/watch?v=wohUl1hFgzY&feature=youtu.be" target="_blank">
            <i class="fa"></i><span>Video Tutorial</span>
          </a>
        </li>
        <li>
          <a href="{%url 'inicio' %}">
            <i class="fa">C</i><span>Registro Asientos</span>
          </a>
        </li>
        <li>
          <a href="{%url 'experto:iniciob' %}">
            <i class="fa">E</i><span>Registro Experto</span>
          </a>
        </li>
        <li>
          <a href="{%url 'expertoPlus:inicioc' %}">
            <i class="fa">EP</i><span>Registro Experto Plus</span>
          </a>
        </li>
        
        <li class="treeview">
          <a href="#">
            <i class="">M</i> <span> Mantenimiento</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href=" {%url 'mantenimientoAsientos' user.id %}"><i class="fa fa-circle-o"></i> Asientos</a></li>
            <!--<li><a href="#" ><i class="fa fa-circle-o"></i> Cuentas</a></li>-->
          </ul>
        </li>

        <li class="treeview">
          <a href="#">
            <i class="">L</i>
            <span>Libros</span>
            <span class="pull-right-container">
              <span class="fa fa-angle-left pull-right"></span>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href=" {%url 'librodiario' user.id %} "><i class="fa fa-circle-o"></i> Libro Diario</a></li>
            <li><a href="{%url 'libromayor' user.id %}"><i class="fa fa-circle-o"></i> Libro Mayor</a></li>
            <li><a href=" {%url 'librohojatrabajo' user.id %} "><i class="fa fa-circle-o"></i> Hoja de Trabajo</a></li>
            <li><a href="{%url 'estadoFinanciero' user.id %}"><i class="fa fa-circle-o"></i>Estado Situacion Financiera</a></li>
            <li><a href="{%url 'EstadoResultados' user.id %}"><i class="fa fa-circle-o"></i> Resultado por Naturaleza </a></li>
            <li><a href="{%url 'eeRRFF' user.id %}"><i class="fa fa-circle-o"></i> Resultado por Función </a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="">R</i> <span>Reportes Excel</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#" id="reporteDiario" onclick="magicos(this)"><i class="fa fa-circle-o"></i>Libro Diario</a></li>        
            <!--<li><a href="#" id="reporteViewMayor" onclick="magicos(this)"><i class="fa fa-circle-o"></i>Libro Mayor</a></li>-->
            <li><a href="#" id="reportehTrabajo" onclick="magicos(this)"><i class="fa fa-circle-o"></i>Hoja Trabajo</a></li>
            <li><a href="#" id="ReporteEstadoFinanciero" onclick="magicos(this)"><i class="fa fa-circle-o"></i>Estado Situacion Financiera</a></li>
            <li><a href="#" id="reporteEstadoNaturalesa" onclick="magicos(this)"><i class="fa fa-circle-o"></i>Resultados por Naturaleza</a></li>
            <li><a href="#" id="reporteEstadoFunciones" onclick="magicos(this)"><i class="fa fa-circle-o"></i>Resultados por Función</a></li>

            <li><a href="#" id="reporteF11" onclick="magicos(this)"><i class="fa fa-circle-o"></i>F11 Caja Y Bancos EF</a></li>
            <li><a href="#" id="reporteF12" onclick="magicos(this)"><i class="fa fa-circle-o"></i>F12 Caja Y Bancos CC</a></li>
            <li><a href="#" id="reporteF81" onclick="magicos(this)"><i class="fa fa-circle-o"></i>F81 Registro de Compras</a></li>
            <li><a href="#" id="reporteF141" onclick="magicos(this)"><i class="fa fa-circle-o"></i>F141 Registro de Ventas</a></li>

            <!--########################################ESTEFANY########################################################################-->
            <li><a href="#" id="reporteF32" onclick="magicos(this)"><i class="fa fa-circle-o"></i>F.3.2. Cuenta 10</a></li>
            <li><a href="#" id="reporteF33" onclick="magicos(this)"><i class="fa fa-circle-o"></i>F.3.3. Cuenta 12</a></li>
            <li><a href="#" id="reporteF34" onclick="magicos(this)"><i class="fa fa-circle-o"></i>F.3.4. Cuenta 14</a></li>
            <li><a href="#" id="reporteF35" onclick="magicos(this)"><i class="fa fa-circle-o"></i>F.3.5. Cuenta 16</a></li>
            <li><a href="#" id="reporteF36" onclick="magicos(this)"><i class="fa fa-circle-o"></i>F.3.6. Cuenta 19</a></li>
            <li><a href="#" id="reporteF31" onclick="magicos(this)"><i class="fa fa-circle-o"></i>F.3.10. Cuenta 40</a></li>
            <li><a href="#" id="reporteF311" onclick="magicos(this)"><i class="fa fa-circle-o"></i>F.3.11. Cuenta 41</a></li>
            <li><a href="#" id="reporteF312" onclick="magicos(this)"><i class="fa fa-circle-o"></i>F.3.12. Cuenta 42</a></li>
            <li><a href="#" id="reporteF313" onclick="magicos(this)"><i class="fa fa-circle-o"></i>F.3.13. Cuenta 43</a></li>
            <li><a href="#" id="reporteF315" onclick="magicos(this)"><i class="fa fa-circle-o"></i>F.3.15. Cuenta 37</a></li>
<!--########################################################################################################################-->


          </ul>
        </li>
        
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header" >
      <h1>
        Libro Hoja de Trabajo
        <!--<small> Hoja de Trabajo curso Pacioli </small>-->
      </h1>
      <button id="magicos" onclick="mostrarReportes()" style="display: none;" >magico</button>
      <!--
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Causa</a></li>
        <li class="">efecto</li>
      </ol>
      -->
      <div id="modal" class="modal fade">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">Excel Libro Mayor</h1>
            </div>
            <div class="modal-body">
              <form method="GET" action="{% url 'reporteMayor' user.id %}" role="form">
                {% csrf_token %}
                <div class="form-group">
                  <label for="cuenta" class="control-label">Cuenta</label>
                  <div>
                    <input id="cuenta" type="text" class="form-control" name="cuenta" placeholder="nr Cuenta">
                  </div>
                </div>
                <div class="form-group">
                  <div>
                      <button type="submit" class="btn btn-primary" >Descargar</button>
                  </div>
                </div>
              </form>
                
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

       <!--modals-->
      <div class="modal fade" id="reportesMeses" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          
          <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reporteLabelModal"></h5>
                <h3 id="box-title"></h3>
                <p id="identificadorReporte"></p>
            </div>
            <div class="modal-body">
              <!--//datos de carga de la database-->
             <form>
               <div class="form-group col-md-12 col-xs-12">
                <div class="form-group" id="radios">
                  <label class="radio-inline" id="elmesLabel"><input type="radio" name="optradio" value="0" id="elmes" checked>Del mes</label>
                  <label class="radio-inline" id="acumuladomesLabel"><input type="radio" name="optradio" value="1" id="acumuladomes">Acumulado al mes</label>
                </div>

                <div class="form-group" id="">
                  <label for="registro">Reportes</label>
                  <select class="form-control" name="registro" id="mesDescargaReporte" onchange="cmabiarUrl(this)">
                    <option value="1">Enero</option>
                    <option value="2">Febrero</option>
                    <option value="3">Marzo</option>
                    <option value="4">Abril</option>
                    <option value="5">Mayo</option>
                    <option value="6">Junio</option>
                    <option value="7">Julio</option>
                    <option value="8">Agosto</option>
                    <option value="9">Setiembre</option>
                    <option value="10">Octubre</option>
                    <option value="11">Noviembre</option>
                    <option value="12">Diciembre</option>
                  </select>
                </div>                       
               </div>
             </form>  




              <!--//datos de carga de la database-->
            </div>
            <div class="modal-footer" id='botones'>
              <button type="button" class="btn btn-info" onclick="descargarReporte(this)" >Aceptar</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
              <a id="urlcambiante" href="#" class="btn btn-info" style="display: none;" >Aceptar</a>
            </div>
          </div>
        </div>
      </div>
      

      
      <!--//modals-->
      
    </section>

    

    <!-- Main content -->

    <section class="content" id="diarioReportes">
      <div class="row">
          <div class="col-lg-12 col-xs-12" id="">
            <div class="box box-primary">
              <div class="box-body">
                <div class="form-row align-items-center">
                  <form>
                    <div class="form-row">
                      <div class="form-group col-md-4 col-xs-4">
                        <label for="cmes">Mes</label>
                        <select onchange="mesCambiante(this)" class="form-control" id="cmes">
                          <option>01</option>
                          <option>02</option>
                          <option>03</option>
                          <option>04</option>
                          <option>05</option>
                          <option>06</option>
                          <option>07</option>
                          <option>08</option>
                          <option>09</option>
                          <option>10</option>
                          <option>11</option>
                          <option>12</option>
                        </select>
                      </div>
                    </div>
                  </form>

                </div>
              </div>

            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-lg-12 col-xs-12" id="">
            <div class="box box-primary">
              <div class="box-body">
                <div class="table-responsive">
                  <table class="table table-striped table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">Cuenta</th>
                        <th scope="col">Debito</th>
                        <th scope="col">Credito</th>
                        <th scope="col">Deudor</th>
                        <th scope="col">Acreedor</th>
                        <th scope="col">Activo</th>
                        <th scope="col">Pasivo</th>
                        <th scope="col">Perdidas Nat</th>
                        <th scope="col">Ganancias Nat</th>
                        <th scope="col">Perdidas Fun</th>
                        <th scope="col">Ganancias Fun</th>
                        <th scope="col">Nombre</th>
                      </tr>
                    </thead>

                    <tbody id="libroHojaTraajo">
                      <!--
                        {{granarray}}
                        {% load humanize %}
                        {% for n in granarray %}
                          <tr>
                            <td> {{ n.0 }}</td>
                            <td class="text-left col-md-1"> <div id="nombresb"> {{ n.1 }}</div></td>
                            <td class="text-right"> {{ n.2 |intcomma }} </td>
                            <td class="text-right"> {{ n.3 |intcomma }}</td>
                            <td class="text-right"> {{ n.4 |intcomma }} </td>
                            <td class="text-right"> {{ n.5 |intcomma }} </td>
                            <td class="text-right"> {{ n.6 |intcomma }} </td>
                            <td class="text-right"> {{ n.7 |intcomma }} </td>
                            <td class="text-right"> {{ n.8 |intcomma }} </td>
                            <td class="text-right"> {{ n.9 |intcomma }} </td>
                            <td class="text-right" id="dies"> {{ n.10 |intcomma }} </td>
                            <td class="text-right" id="once"> {{ n.11 |intcomma }} </td>
                            <th></th>
                          </tr>
                          
                        {% endfor %}
                        
                      <tr></tr>
                      <tr class="bg-success">
                        <td></td>
                        <td scope="col" class="text-left" >TOTALES</td>
                        <th class="text-right" id="tdebito">{{tDEBITO |intcomma}}</th>
                        <th class="text-right" id="tcredito">{{tCREDITO |intcomma}}</th>
                        <th class="text-right" id="tdeudor">{{tDEUDOR |intcomma}}</th>
                        <th class="text-right" id="tacreedor">{{tACREEDOR |intcomma}}</th>
                        <th class="text-right" id="tacti">{{tACTIVO |intcomma}}</th>
                        <th class="text-right" id="tpasi">{{tPASIVO |intcomma}}</th>
                        <th class="text-right" id="tper">{{tPERDIDAS |intcomma}}</th>
                        <th class="text-right" id="tgana">{{tGANACIAS |intcomma}}</th>
                        <th class="text-right" id="tgana">{{tfPERDIDAS |intcomma}}</th>
                        <th class="text-right" id="tgana">{{tfGANACIAS |intcomma}}</th>
                      </tr>
                      <tr></tr>
                      <tr class="bg-warning">
                        <td></td>
                        <td scope="col" class="text-left" id="mensaje_cambiante" >{{mensaje}}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <th class="text-right" id="actiGP">{{pActivo}}</th>
                        <th class="text-right" id="pasiGP">{{pPasivo}}</th>
                        <th class="text-right" id="perGP">{{pPerdidas}}</th>
                        <th class="text-right" id="ganaGP">{{pGanancias}}</th>
                        <th class="text-right" id="perGP">{{fPerdidas}}</th>
                        <th class="text-right" id="ganaGP">{{fGanancias}}</th>
                      </tr>
                      <tr></tr>
                      <tr class="bg-danger">
                        <td></td>
                        <td scope="col" class="text-left" >SUMAS</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <th class="text-right" id="actiSI">{{siActivo}}</th>
                        <th class="text-right" id="pasiSI">{{siPasivo}}</th>
                        <th class="text-right" id="perSI">{{siPerdidas}}</th>
                        <th class="text-right" id="ganaSI">{{siGanancias}}</th>
                        <th class="text-right" id="perSI">{{sifPerdidas}}</th>
                        <th class="text-right" id="ganaSI">{{sifGanancias}}</th>
                      </tr>
                      -->

                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </div>
        </div>
      </section>

      

    <!-- /.content -->

    <!--libro content-->
    


    <!--/.libro cnte-->
    <section class="content"></section>
    <section class="col-lg-5 connectedSortable" style="visibility: hidden;">
      <div class="box box-solid bg-light-blue-gradient">
        <div class="box-body">
          <div id="world-map" style=""></div>
        </div>
      </div>
      <div class="box box-solid bg-teal-gradient">
        <div style="display: none;" class="chart" id="line-chart" style="height: 0px;"></div>
      </div>

      <div class="nav-tabs-custom">

        <div class="tab-content no-padding">
        <div class="chart tab-pane active" id="revenue-chart" style="position: relative; height: 30px;"></div>
        <div class="chart tab-pane" id="sales-chart" style="position: relative; height: 30px;"></div>
        </div>
      </div>
    </section>
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 1.0.0
    </div>
    <strong>Copyright &copy; 2019 <a href="https://adminlte.io">Contasic developer Team</a><span id="upa">{{user.id}}</span>.</strong>
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark" style="display: none;">
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
      <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
      <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Home tab content -->
      <div class="tab-pane" id="control-sidebar-home-tab">
        <h3 class="control-sidebar-heading">Recent Activity</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-birthday-cake bg-red"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                <p>Will be 23 on April 24th</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-user bg-yellow"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>

                <p>New phone +1(800)555-1234</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>

                <p>nora@example.com</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-file-code-o bg-green"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>

                <p>Execution time 5 seconds</p>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

        <h3 class="control-sidebar-heading">Tasks Progress</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Custom Template Design
                <span class="label label-danger pull-right">70%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Update Resume
                <span class="label label-success pull-right">95%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-success" style="width: 95%"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Laravel Integration
                <span class="label label-warning pull-right">50%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Back End Framework
                <span class="label label-primary pull-right">68%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

      </div>
      <!-- /.tab-pane -->
      <!-- Stats tab content -->
      <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
      <!-- /.tab-pane -->
      <!-- Settings tab content -->
      <div class="tab-pane" id="control-sidebar-settings-tab">
        <form method="post">
          <h3 class="control-sidebar-heading">General Settings</h3>

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Report panel usage
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Some information about this general settings option
            </p>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Allow mail redirect
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Other sets of options are available
            </p>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Expose author name in posts
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Allow the user to show his name in blog posts
            </p>
          </div>
          <!-- /.form-group -->

          <h3 class="control-sidebar-heading">Chat Settings</h3>

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Show me as online
              <input type="checkbox" class="pull-right" checked>
            </label>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Turn off notifications
              <input type="checkbox" class="pull-right">
            </label>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Delete chat history
              <a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
            </label>
          </div>
          <!-- /.form-group -->
        </form>
      </div>
      <!-- /.tab-pane -->
    </div>
  </aside>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->
<!-- ./wrapper -->
<script src="{% static 'js/dina.js' %}"></script>
<script src="{% static 'admin/bower_components/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'admin/bower_components/jquery-ui/jquery-ui.min.js' %}"></script>
<script lang="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.4/xlsx.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>

<script>
$.widget.bridge('uibutton', $.ui.button);
cargar=()=>{
  document.getElementById("upa").style.visibility = "hidden";    
  let usuario = document.getElementById("upa").innerHTML; 

  let now = new Date();
  elmespresente = now.getMonth()+1;
  if (elmespresente.length = 1){
    elmespresente = '0' + elmespresente ;
  }
  document.getElementById('cmes').value = elmespresente;
  totalhoja(usuario, elmespresente);
}

mesCambiante=(dato)=>{
    let usuario=document.getElementById("upa").innerHTML;
    let valor = dato.value;
    totalhoja(usuario, valor);
  }

//libroHojaTraajo

totalhoja=(usuario, cmes)=>{
  console.log(usuario, "hoj ade trabajo");

  $.ajax({
      data:{'usuario':usuario, 'cmes': cmes},
      url : '/pacioli/buscarhtLibro/',
      type: 'get',
      success:function(libroHt){
        console.log(libroHt);
        $("#libroHojaTraajo").empty();
        for(var u=0; u<libroHt.length; u++){
          htmlasivab = "<tr id="+libroHt[u]['ccod_cue']+">"+
            "<td>"+ libroHt[u]['ccod_cue'] +"</td>"+
            "<td class='text-right'>"+ libroHt[u]['debito'] +"</td>"+
            "<td class='text-right'>"+ libroHt[u]['credito'] +"</td>"+
            "<td class='text-right'>"+ libroHt[u]['deudor'] +"</td>"+
            "<td class='text-right'>"+ libroHt[u]['acreedor'] +"</td>"+
            "<td class='text-right'>"+ libroHt[u]['activo'] +"</td>"+
            "<td class='text-right'>"+ libroHt[u]['pasivo'] +"</td>"+
            "<td class='text-right'>"+ libroHt[u]['perNat'] +"</td>"+
            "<td class='text-right'>"+ libroHt[u]['ganNat'] +"</td>"+
            "<td class='text-right'>"+ libroHt[u]['perFun'] +"</td>"+
            "<td class='text-right'>"+ libroHt[u]['ganFun'] +"</td>"+
            "<td class ="+libroHt[u]['ccod_cue']+"> <div  id='nombresb'> "+ libroHt[u]['pgplan__cdsc'] +"</div></td>"+
            "</tr>";
            $("#libroHojaTraajo").append(htmlasivab);
        }
      }
    });


}


  
function calcular() {
  
  // obtenemos todas las filas del tbody
  var filas=document.querySelectorAll("#exportarmitabla tbody tr");

  var total=0;
  var totald = 0;
  var totalc = 0;
  var deu = 0;
  var acre = 0;
  var acti = 0;
  var pasi = 0;
  var per = 0;
  var gana = 0;
  var doce = 0;
  var trece = 0;
  var catorce = 0;
  var quince = 0;
  var doceb = 0;
  var treceb = 0;
  var catorceb = 0;
  var quinceb = 0;
  // recorremos cada una de las filas
  let solocinco = 0;

  

  filas.forEach(function(e) {

      // obtenemos las columnas de cada fila
      var columnas=e.querySelectorAll("td");

      // obtenemos los valores de la cantidad y importe
      var cantidad=parseFloat(columnas[2].textContent);
      var importe=parseFloat(columnas[3].textContent);
      Deudor = cantidad - importe
      Acreedor = cantidad - importe

      if(Deudor < 0){
        Deudor = 0.00
      }
      if(Acreedor > 0){
        Acreedor = 0.00
      }
      columnas[4].textContent=( Deudor ).toFixed(2);
      columnas[5].textContent=( Math.abs(Acreedor)).toFixed(2);

      var miActivo;
      var miPasivo;
      var miPerdida;
      var miGanancia;
      unocinco = columnas[0].textContent.substring(0,2);
      if (parseFloat(unocinco)>=1 && parseFloat(unocinco)<=5){
        miActivo= parseFloat(columnas[4].textContent);
        miPasivo = parseFloat(columnas[5].textContent);
      }else{
        miActivo = 0.00;
        miPasivo = 0.00;
      }

      if (parseFloat(unocinco)>=6 && parseFloat(unocinco)<=7){
        miPerdida = parseFloat(columnas[4].textContent);
        miGanancia = parseFloat(columnas[5].textContent);
      }
      else{
        miPerdida = 0.00;
        miGanancia = 0.00;
      }

      columnas[6].textContent=( miActivo ).toFixed(2);
      columnas[7].textContent=( miPasivo ).toFixed(2);
      columnas[8].textContent=( miPerdida ).toFixed(2);
      columnas[9].textContent=( miGanancia ).toFixed(2);
      // mostramos el total por fila
      
      //total+=cantidad*importe;
      totald = cantidad + totald;
      
      
      totalc = importe + totalc;
      deu = Deudor + deu;
      acre = Acreedor + acre;
      acti = miActivo + acti;
      pasi = miPasivo + pasi;
      per = miPerdida + per;
      gana = miGanancia + gana;
      //document.getElementById("tdebito").innerHTML = Math.abs(totald).toFixed(2);
      //document.getElementById("tcredito").innerHTML = Math.abs(totalc).toFixed(2);
      document.getElementById("tdeudor").innerHTML = Math.abs(deu).toFixed(2);
      document.getElementById("tacreedor").innerHTML = Math.abs(acre).toFixed(2);
      document.getElementById("tpasi").innerHTML = Math.abs(acti).toFixed(2);
      document.getElementById("tacti").innerHTML = Math.abs(pasi).toFixed(2);
      document.getElementById("tper").innerHTML = Math.abs(per).toFixed(2);
      document.getElementById("tgana").innerHTML = Math.abs(gana).toFixed(2);

      doce = acti - pasi;
      //doce = 100;
      if (doce <= 0){
        //console.log("negativo");
        document.getElementById("doce").innerHTML = Math.abs(doce).toFixed(2);
        document.getElementById("trece").innerHTML = (0).toFixed(2);
        
        document.getElementById("mensaje_cambiante").innerHTML = "PERDIDA DEL EJERCICIO";
      }
      else{
        //console.log("positivo");
        document.getElementById("doce").innerHTML = (0).toFixed(2);
        document.getElementById("trece").innerHTML = Math.abs(doce).toFixed(2);
        document.getElementById("mensaje_cambiante").innerHTML = "GANANCIA DEL EJERCICIO";
      }
      
      catorce = per - gana;
      //catorce = 100;
      //quince = per - gana;
      if (catorce <= 0){
        //console.log("negativo");
        document.getElementById("catorce").innerHTML = Math.abs(catorce).toFixed(2);
        document.getElementById("quince").innerHTML = (0).toFixed(2);
        
      }
      else{
        //console.log("positivo");
        document.getElementById("quince").innerHTML = Math.abs(catorce).toFixed(2);
        document.getElementById("catorce").innerHTML = (0).toFixed(2);
        
      }
      //document.getElementById("doce").innerHTML = (0).toFixed(2);
      //document.getElementById("trece").innerHTML = Math.abs(trece).toFixed(2);
      

      doceb = parseFloat(document.getElementById("doce").innerHTML) + acti;
      treceb = parseFloat(document.getElementById("trece").innerHTML) + pasi;
      catorceb = parseFloat(document.getElementById("catorce").innerHTML) + per;
      quinceb = parseFloat(document.getElementById("quince").innerHTML) + gana;
      document.getElementById("doceb").innerHTML = Math.abs(doceb).toFixed(2);
      document.getElementById("treceb").innerHTML = Math.abs(treceb).toFixed(2);
      document.getElementById("catorceb").innerHTML = Math.abs(catorceb).toFixed(2);
      document.getElementById("quinceb").innerHTML = Math.abs(quinceb).toFixed(2);

  });
  console.log(total);
  
  // mostramos la suma total
  
  var filas=document.querySelectorAll("#exportarTablas tfoot tr td");
  filas[1].textContent=total.toFixed(2);
  
}

magicos=(boton)=>{
  
  document.getElementById('identificadorReporte').innerHTML = boton.id;
  
  if(boton.id=='reporteF12' || boton.id=='reporteF11' || boton.id=='reporteF81' || boton.id=='reporteF141' || boton.id=='reporteDiario'){
    document.getElementById("elmes").checked = true;
    document.getElementById("acumuladomes").checked = false; 
  }
  else{
    document.getElementById("acumuladomes").checked = true; 
    document.getElementById("elmes").checked = false;
  }
    //################ESTEFANY################################
  if(boton.id=='reporteF32' || boton.id=='reporteF33' || boton.id=='reporteF34' || boton.id=='reporteF35' || boton.id=='reporteF36'||boton.id=='reporteF31'|| boton.id=='reporteF311'|| boton.id=='reporteF312'|| boton.id=='reporteF313'|| boton.id=='reporteF315'){
  document.getElementById("elmes").disabled = true;
  document.getElementById("acumuladomes").checked = true;
  }
  //########################################################
  
  document.getElementById('magicos').click();

}

mostrarReportes=()=>{
  //console.log("mostrarReportes $ $ $");
  $('#reportesMeses').modal('show');
}


mesDescargaReporte = '00';
descargarReporte=(url)=>{
  let radios = document.getElementsByName('optradio');
  let proposito = null;
  for (var i = 0, length = radios.length; i < length; i++) {
    if (radios[i].checked) {
      proposito = radios[i].value;
      //alert(radios[i].value);
      //console.log(radios[i].value);
      break;
    }
  }

  urls =  document.getElementById('identificadorReporte').innerHTML;
  usuario = document.getElementById('upa').innerHTML;
  mesDescargaReporte = document.getElementById('mesDescargaReporte').value;
  var url = "{% url 'reporteF11' user.id 123 0 %}".replace('123', mesDescargaReporte).replace('reporteF11', urls).replace('0', proposito);
  console.log(url, 'aceptar');

  var link = document.getElementById("urlcambiante");
  //link.innerHTML = "facebook";
  link.setAttribute('href', url);

  document.getElementById("urlcambiante").click();

}

cmabiarUrl=(cambio)=>{
  let radios = document.getElementsByName('optradio');
  let proposito = null;
  for (var i = 0, length = radios.length; i < length; i++) {
    if (radios[i].checked) {
      proposito = radios[i].value;
      //alert(radios[i].value);
      //console.log(radios[i].value);
      break;
    }
  }
  
  m = cambio.value;
  urls =  document.getElementById('identificadorReporte').innerHTML;
  
  var url = "{% url 'reporteF11' user.id 123 0 %}".replace('123', m).replace("'reporteF11'", urls).replace('0', proposito);
  console.log(url);
}



</script>
<script src="{% static 'admin/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'admin/bower_components/raphael/raphael.min.js' %}"></script>
<script src="{% static 'admin/bower_components/morris.js/morris.min.js' %}"></script>
<script src="{% static 'admin/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js' %}"></script>
<script src="{% static 'admin/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js' %}"></script>
<script src="{% static 'admin/plugins/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
<script src="{% static 'admin/bower_components/jquery-knob/dist/jquery.knob.min.js' %}"></script>
<script src="{% static 'admin/bower_components/moment/min/moment.min.js' %}"></script>
<script src="{% static 'admin/bower_components/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
<script src="{% static 'admin/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'admin/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js' %}"></script>
<script src="{% static 'admin/bower_components/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'admin/bower_components/fastclick/lib/fastclick.js' %}"></script>
<script src="{% static 'admin/dist/js/adminlte.min.js' %}"></script>
<script src="{% static 'admin/dist/js/pages/dashboard.js' %}"></script>
<script src="{% static 'admin/dist/js/demo.js' %}"></script>




</body>
</html>
