if (cdes_d_c.length != ''){
        idpa_u = 'P' +( Account + 1);
        idpa_d = 'P' + (Account + 2);

        iddebeMandar_u = 'DM'+ (Account +1);
        idhaberMandar_u = 'HM' +(Account +1); 
        iddebeMandar_d = 'DM'+ (Account +2);
        idhaberMandar_d = 'HM' +(Account +2); 

        idcuenta_cu_d = 'CUM' + (Account +1);
        idcuenta_cu_h = 'CUM' + (Account +2);

        idcDestino_cu_d = 'CD' + (Account +1);
        idcDestino_cu_h = 'CD' + (Account +2);

        idcDes_cu_d = 'desc' + (Account +1);
        idcDes_cu_h = 'desc' + (Account +2);

        filasValidas.push(Account);
        filasValidas.push(Account +1);
        filasValidas.push(Account +2);

        document.getElementById('destino').innerHTML = '1';
        id_tr_u = GF + 1;
        id_tr_d = GF + 2;
        
        htmlasivab = "<tr class='miBuenaFila' id="+GF+">"+
        "<td id=''> <button type='button' class='btn btn-success' onclick='holsa("+GF+",1)'> "+ cuentaParcial +" </button> </td> "+
        "<td id=''><div><input type='text' class='form-control losDebe'  name='Debe'  decimals='2'  onkeyup='sumatoriasDebe(this.id)' onclick='selar(this.id)' id="+idDebe+"></div></td> "+
        "<td id=''><div><input type='text' class='form-control losHaber'  name='Haber'  decimals='2' onkeyup='sumatoriasHaber(this.id)' onclick='selar(this.id)' id="+idHaber+"></div></td> "+
        "<td id=''>"+ nombreCuenta_nc +"</td> "+

        "<td  id=''><p class='cuentaMandar' id="+idpa+" > "+ cuentaParcial +" </p></td> "+
        "<td  id=''><p class='debeMandar' id="+iddebeMandar+" > 50 </p></td> "+
        "<td  id=''><p class='haberMandar' id="+idhaberMandar+" > 50 </p></td> "+
        "<td  id=''><p class='idcuentaMandar' id="+idcuenta_cu+" > "+idcuenta_b+" </p></td> "+
        "<td  id=''><p class='' id="+idDestino+" > 1 </p></td> "+
        "<td  id=''><p class='' id="+idcDestino+" > "+cdestino+" </p></td> "+
        "<td  id=''><p class='' id="+idcDes+" >  </p></td> "+
        "</tr>"+
        "</tr>" +
        
        "<tr bgcolor='#ddd' id="+id_tr_u+">"+
        "<td id="+ idpa_u +">"+ cdes_d_c +"</td> "+
        "<td id=''><p id ="+idDebeA+" ></p> </td> "+
        "<td id=''><p id ="+idHaberA+" ></p> </td> "+
        "<td id=''>"+ cdes_d_n +"</td> "+
        "<td  id=''><p class='debeMandar' id="+iddebeMandar_u+" > 0 </p></td> "+
        "<td  id=''><p class='haberMandar' id="+idhaberMandar_u+" > 0 </p></td> "+  
        "<td  id=''><p class='haberMandar' id="+idcuenta_cu_d+" > "+id_des_d+" </p></td> "+ 
        "<td  id=''><p class='' id="+idcDestino_cu_d+" > "+cdestino+" </p></td> "+
        "<td  id=''><p class='' id="+idcDes_cu_d+" > S </p></td> "+

        "</tr>"+
        "<tr bgcolor='#ddd' id="+id_tr_d+">"+
        "<td id="+idpa_d +">"+ cdes_h_c +"</div></td> "+
        "<td id=''> <p id ="+idDebeB+" ></p>  </td> "+
        "<td id=''> <p id ="+idHaberB+" ></p>  </td> "+
        "<td id=''>"+ cdes_h_n +"</div></td> "+
        "<td  id=''><p class='debeMandar' id="+iddebeMandar_d+" > 0 </p></td> "+
        "<td  id=''><p class='haberMandar' id="+idhaberMandar_d+" > 0 </p></td> "+  
        "<td  id=''><p class='haberMandar' id="+idcuenta_cu_h+" > "+id_des_h+" </p></td> "+ 
        "<td  id=''><p class='' id="+idcDestino_cu_h+" > "+cdestino+" </p></td> "+
        "<td  id=''><p class='' id="+idcDes_cu_h+" > S </p></td> "+
        "</tr>";
        
        $("#nuevaCuentaVolver").append(htmlasivab);
        Account = Account + 3;
        cdestino = cdestino + 1;
        rellenarArray(GF);
        rellenarArray(GF+1);
        rellenarArray(GF+2);
        GF = GF + 3;
      }
      else{
        filasValidas.push(Account)
        document.getElementById('destino').innerHTML = '0';
        htmlasivab = "<tr class='miBuenaFila' id= "+GF+">"+
        "<td id=''> <button type='button' class='btn btn-success' onclick='holsa("+GF+",0)'> "+ cuentaParcial +" </button> </div></td> "+
        "<td id=''> <div> <input type='text' class='form-control losDebe' name='Debe'  decimals='2' onkeyup='sumatoriasDebe(this.id)'  onclick='selar(this.id)' id="+idDebe+" > </div> </td> "+
        "<td id=''> <div> <input type='text' class='form-control losHaber' name='Haber'  decimals='2' onkeyup='sumatoriasHaber(this.id)'  onclick='selar(this.id)' id="+idHaber+" > </div> </td> "+
        "<td id=''>"+ nombreCuenta_nc +"</div></td> "+

        "<td  id=''><p class='cuentaMandar' id="+idpa+" > "+ cuentaParcial +" </p></td> "+
        "<td  id=''><p class='debeMandar' id="+iddebeMandar+" > 50 </p></td> "+
        "<td  id=''><p class='haberMandar' id="+idhaberMandar+" > 50 </p></td> "+
        "<td  id=''><p class='idcuentaMandar' id="+idcuenta_cu+" > "+idcuenta_b+" </p></td> "+
        "<td  id=''><p class='' id="+idDestino+" > 0 </p></td> "+
        "<td  id=''><p class='' id="+idcDestino+" > </p></td> "+
        "<td  id=''><p class='' id="+idcDes+" >  </p></td> "+
        "</tr>";
        $("#nuevaCuentaVolver").append(htmlasivab);  
        Account = Account + 1;
        rellenarArray(GF);
        GF = GF +1;
      }