{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Contasic</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  
  <link rel="stylesheet" href="{% static 'admin/bower_components/bootstrap/dist/css/bootstrap.min.css' %} ">
  <!--<link rel="stylesheet" href="{% static 'admin/bower_components/font-awesome/css/font-awesome.min.css' %} ">-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css ">

  
  <link rel="stylesheet" href="{% static 'admin/bower_components/Ionicons/css/ionicons.min.css' %} ">
  <link rel="stylesheet" href="{% static 'admin/dist/css/AdminLTE.min.css' %} ">
  <link rel="stylesheet" href="{% static 'admin/dist/css/skins/_all-skins.min.css' %} ">
  <link rel="stylesheet" href="{% static 'admin/bower_components/morris.js/morris.css' %}">
  <link rel="stylesheet" href="{% static 'admin/bower_components/jvectormap/jquery-jvectormap.css' %} ">
  <link rel="stylesheet" href="{% static 'admin/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}">
  <link rel="stylesheet" href="{% static 'admin/bower_components/bootstrap-daterangepicker/daterangepicker.css' %}">
  <link rel="stylesheet" href="{% static 'admin/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css' %}">
  <style type="text/css">
    .modal-content{
      padding: 10px;
    }
    #cajaa{
      background-color:#000;
      padding-top:10px;
      padding-botton:-10px;
      
    }

    #cajab{
      background-color:#000;
      padding-top:10px;
      padding-botton:-10px;
      margin-left:10px;
      width:10px;
      
    }

    @media screen  and (min-width: 500px)  {
      /*#desdebe, #deshaber{*/
        #nombre{
        width: auto;
        color: #593F45;
        overflow-x:auto;
      }    
    }
    @media screen  and (max-width: 576px)  {
      /*#desdebe, #deshaber{*/
        #nombre{
        width: 100px;
        color: #328EB3;
        overflow-x:auto;
      }    
    }

    #tipo_plan{
      color:green;
    }
  </style>
</head>
<body  class="hold-transition skin-blue sidebar-mini" onload="carga()">
<div class="wrapper">

  <header class="main-header">
    <!-- Logo -->
    <a href="https://contasic.org/" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>C</b>TC</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Conta</b>SIC</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!--usuario nav-->
      <!--**********************-->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->
          <li class="dropdown messages-menu">
          <!--
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-envelope-o"></i>
              <span class="label label-success">4</span>
            </a>
          -->
            <!--
            <ul class="dropdown-menu">
              <li class="header">You have 4 messages</li>
              <li>
                
                <ul class="menu">
                  <li>
                    <a href="#">
                      <div class="pull-left">
                        <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        Support Team
                        <small><i class="fa fa-clock-o"></i> 5 mins</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                  
                  <li>
                    <a href="#">
                      <div class="pull-left">
                        <img src="dist/img/user3-128x128.jpg" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        AdminLTE Design Team
                        <small><i class="fa fa-clock-o"></i> 2 hours</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <div class="pull-left">
                        <img src="dist/img/user4-128x128.jpg" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        Developers
                        <small><i class="fa fa-clock-o"></i> Today</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <div class="pull-left">
                        <img src="dist/img/user3-128x128.jpg" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        Sales Department
                        <small><i class="fa fa-clock-o"></i> Yesterday</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <div class="pull-left">
                        <img src="dist/img/user4-128x128.jpg" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        Reviewers
                        <small><i class="fa fa-clock-o"></i> 2 days</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="footer"><a href="#">See All Messages</a></li>
            </ul>
            -->
          </li>
          <!-- Notifications: style can be found in dropdown.less -->
          <li class="dropdown notifications-menu">
            <!--
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              <span class="label label-warning">10</span>
            </a>
            -->
            <ul class="dropdown-menu">
              <li class="header">You have 10 notifications</li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                  <li>
                    <a href="#">
                      <i class="fa fa-users text-aqua"></i> 5 new members joined today
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the
                      page and may cause design problems
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-users text-red"></i> 5 new members joined
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-user text-red"></i> You changed your username
                    </a>
                  </li>
                </ul>
              </li>
              <li class="footer"><a href="#">View all</a></li>
            </ul>
          </li>
          <!-- Tasks: style can be found in dropdown.less -->
          <li class="dropdown tasks-menu">
            <!--
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-flag-o"></i>
              <span class="label label-danger">9</span>
            </a>
            -->
            <ul class="dropdown-menu">
              <li class="header">You have 9 tasks</li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                  <li><!-- Task item -->
                    <a href="#">
                      <h3>
                        Design some buttons
                        <small class="pull-right">20%</small>
                      </h3>
                      <div class="progress xs">
                        <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar"
                             aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">20% Complete</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <!-- end task item -->
                  <li><!-- Task item -->
                    <a href="#">
                      <h3>
                        Create a nice theme
                        <small class="pull-right">40%</small>
                      </h3>
                      <div class="progress xs">
                        <div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar"
                             aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">40% Complete</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <!-- end task item -->
                  <li><!-- Task item -->
                    <a href="#">
                      <h3>
                        Some task I need to do
                        <small class="pull-right">60%</small>
                      </h3>
                      <div class="progress xs">
                        <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar"
                             aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">60% Complete</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <!-- end task item -->
                  <li><!-- Task item -->
                    <a href="#">
                      <h3>
                        Make beautiful transitions
                        <small class="pull-right">80%</small>
                      </h3>
                      <div class="progress xs">
                        <div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar"
                             aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">80% Complete</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <!-- end task item -->
                </ul>
              </li>
              <li class="footer">
                <a href="#">View all tasks</a>
              </li>
            </ul>
          </li>
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img id="logo" class="user-image" src="{% static 'image/logo.png' %}" alt="User Image">
              <span class="hidden-xs"> Bienvenido {{user}}</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                

                <p>
                  {{ user }}
                  <small>  {{ user.email }}</small>
                </p>
              </li>
              <!-- Menu Body -->
              <li class="user-body">
                <!--
                <div class="row">
                  <div class="col-xs-4 text-center">
                    <a href="#">Followers</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#">Sales</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#">Friends</a>
                  </div>
                </div>
                -->
                <!-- /.row -->
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
              <!--
                <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat">Profile</a>
                </div>
                -->
                <div class="pull-right">
                  
                  <a href="{% url 'logout' %}" class="btn btn-default btn-flat">salir</a>
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
          <!--
          <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
          </li>
          -->
        </ul>
      </div>


      <!--**********************-->
      <!--/.usuario nav-->
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!--usuario-->
      <div class="user-panel">
        <div class="pull-left image">
          <br>
          
        </div>
        <div class="pull-left info">
          <p> </p>
          
        </div>
      </div>
      <!--/. usuario-->

      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li>
          <a href="https://www.youtube.com/watch?v=wohUl1hFgzY&feature=youtu.be" target="_blank">
            <i class="fa"></i><span>Video Tutorial</span>
          </a>
        </li>
        <li>
          <a href="{%url 'inicio' %}">
            <i class="fa">C</i><span>Registro Asientos</span>
          </a>
        </li>
        <li>
          <a href="{%url 'experto:iniciob' %}">
            <i class="fa">E</i><span>Registro Experto</span>
          </a>
        </li>
        <li>
          <a href="{%url 'expertoPlus:inicioc' %}">
            <i class="fa">EP</i><span>Registro Experto Plus</span>
          </a>
        </li>

        <li class="treeview">
          <a href="#">
            <i class="">M</i> <span> Mantenimiento</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href=" {%url 'mantenimientoAsientos' user.id %}"><i class="fa fa-circle-o"></i> Asientos</a></li>
            <!--<li><a href="#" ><i class="fa fa-circle-o"></i> Cuentas</a></li>-->
          </ul>
        </li>
        
        <li class="treeview">
          <a href="#">
            <i class="">L</i>
            <span>Libros</span>
            <span class="pull-right-container">
              <span class="fa fa-angle-left pull-right"></span>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href=" {%url 'librodiario' user.id %} "><i class="fa fa-circle-o"></i> Libro Diario</a></li>
            <li><a href="{%url 'libromayor' user.id %}"><i class="fa fa-circle-o"></i> Libro Mayor</a></li>
            <li><a href="{%url 'librohojatrabajo' user.id %} "><i class="fa fa-circle-o"></i> Hoja de Trabajo</a></li>
            <li><a href="{%url 'estadoFinanciero' user.id %}"><i class="fa fa-circle-o"></i>Estado Situacion Financiera</a></li>
            <li><a href="{%url 'EstadoResultados' user.id %}"><i class="fa fa-circle-o"></i> Resultado por Naturaleza </a></li>
            <li><a href="{%url 'eeRRFF' user.id %}"><i class="fa fa-circle-o"></i> Resultado por Función </a></li>
            
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="">R</i> <span>Reportes Excel</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#" id="reporteDiario" onclick="magicos(this)"><i class="fa fa-circle-o"></i>Libro Diario</a></li>        
            <!--<li><a href="#" id="reporteViewMayor" onclick="magicos(this)"><i class="fa fa-circle-o"></i>Libro Mayor</a></li>-->
            <li><a href="#" id="reportehTrabajo" onclick="magicos(this)"><i class="fa fa-circle-o"></i>Hoja Trabajo</a></li>
            <li><a href="#" id="ReporteEstadoFinanciero" onclick="magicos(this)"><i class="fa fa-circle-o"></i>Estado Situacion Financiera</a></li>
            <li><a href="#" id="reporteEstadoNaturalesa" onclick="magicos(this)"><i class="fa fa-circle-o"></i>Resultados por Naturaleza</a></li>
            <li><a href="#" id="reporteEstadoFunciones" onclick="magicos(this)"><i class="fa fa-circle-o"></i>Resultados por Función</a></li>

             <li><a href="#" id="reporteF11" onclick="magicos(this)"><i class="fa fa-circle-o"></i>F11 Caja Y Bancos EF</a></li>
            <li><a href="#" id="reporteF12" onclick="magicos(this)"><i class="fa fa-circle-o"></i>F12 Caja Y Bancos CC</a></li>
            <li><a href="#" id="reporteF81" onclick="magicos(this)"><i class="fa fa-circle-o"></i>F81 Registro de Compras</a></li>
            <li><a href="#" id="reporteF141" onclick="magicos(this)"><i class="fa fa-circle-o"></i>F141 Registro de Ventas</a></li>

<!--########################################ESTEFANY########################################################################-->
            <li><a href="#" id="reporteF32" onclick="magicos(this)"><i class="fa fa-circle-o"></i>F.3.2. Cuenta 10</a></li>
            <li><a href="#" id="reporteF33" onclick="magicos(this)"><i class="fa fa-circle-o"></i>F.3.3. Cuenta 12</a></li>
            <li><a href="#" id="reporteF34" onclick="magicos(this)"><i class="fa fa-circle-o"></i>F.3.4. Cuenta 14</a></li>
            <li><a href="#" id="reporteF35" onclick="magicos(this)"><i class="fa fa-circle-o"></i>F.3.5. Cuenta 16</a></li>
            <li><a href="#" id="reporteF36" onclick="magicos(this)"><i class="fa fa-circle-o"></i>F.3.6. Cuenta 19</a></li>
            <li><a href="#" id="reporteF31" onclick="magicos(this)"><i class="fa fa-circle-o"></i>F.3.10. Cuenta 40</a></li>
            <li><a href="#" id="reporteF311" onclick="magicos(this)"><i class="fa fa-circle-o"></i>F.3.11. Cuenta 41</a></li>
            <li><a href="#" id="reporteF312" onclick="magicos(this)"><i class="fa fa-circle-o"></i>F.3.12. Cuenta 42</a></li>
            <li><a href="#" id="reporteF313" onclick="magicos(this)"><i class="fa fa-circle-o"></i>F.3.13. Cuenta 43</a></li>
            <li><a href="#" id="reporteF315" onclick="magicos(this)"><i class="fa fa-circle-o"></i>F.3.15. Cuenta 37</a></li>
<!--########################################################################################################################-->

<!--
            <li><a href="" data-toggle="modal" data-target="#modal" class="title m-b-md"><i class="fa fa-circle-o"></i> Libro Mayor </a></li>
-->
          </ul>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header" >
      <h1>
        {{nombre}}
        <small></small>
      </h1>
      <button id="magicos" onclick="mostrarReportes()" style="display: none;" >magico</button>
      <!--
      <ol class="breadcrumb">
        
        <li><a href="#"><i class="fa fa-dashboard"></i> Causa</a></li>
        <li class="">efecto</li>
        
      </ol>
      -->
      <!--modals lista cuentas-->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
          </button>
          <div class="modal-content">
            <div class="modal-header">
              <!--
              <button type="button"  class="btn btn-danger" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" class="text-danger">×</span>
              </button>
              -->
              <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">x</span>
              </button>
            
              <!--<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>-->
              <h3 class="box-title">Selecciona tu cuenta  <span id="tipoCuenta"></span> </h3>
              
            </div>

            <div class="modal-body">                  
              <div class="table-responsive" id="mislistas">
                <table class="table table-striped table-hover table-fixed" id="exportarTablas">
                  <table class="table table-striped table-hover table-fixed" id="exportarTablas">
                    <tbody id="bodyMayor">
                    </tbody>
                  </table>
                </table>
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>

          </div>
        </div>
      </div>
      

      <!--modals registro momentaneo-->
      <div class="modal fade" id="formularioModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
          </button>
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">x</span>
              </button>
            
              <!--<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>-->
              <h3 class="box-title">Registre lo siguiente <span id='tipoCuenta'></span> </h3>
              
            </div>
            
            <div class="modal-body">                  
              <form action="#" method="post" id="fomIndex">
                <div class="form-group">
                  <label for="Reconocimiento">Reconocimiento</label>
                  <input type="text" class="form-control" onkeydown="validara()" name="Reconocimiento" id="glosaantes" value="{{consulta.1.cglosa}}" />
                  
                </div>
                <div class="form-group">
                  <label for="Medicion">Medición</label>
                  <input type="text" class="form-control" onkeydown="validarb()" name="Medicion" id='montoantes' value="{{consulta.1.nhaber}}">
                </div>
              </form>
            </div>

            <div class="modal-footer">
              <div class="box-footer clearfix" id="pacioli_operab">
                <button type="button" class="pull-right btn btn-default" id="guardara" onclick="pasarGrabar()" >
                  Aceptar
                  <i class="fa fa-arrow-circle-right"></i>
                </button>
              </div>
            </div>

          </div>
        </div>
      </div>

      <!--modal asiento contable-->
      <div class="modal fade" id="asientoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
          </button>
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">x</span>
              </button>

              <h3 class="box-title">Asiento N° <span id="otroAsiento"> {{ consulta.0.nasiento }}</span> </h3>
              
            </div>

            <div class="modal-body">                  
              <form action="#" method="post" id="fomIndex">
                    <div class="table-responsive">
                    <table class="table table-striped table-hover table-fixed" >
                      <thead>
                        <tr>
                          <th scope="col">Cuenta</th>
                          <th scope="col">Descripción</th>
                          <th scope="col">Debe</th>
                          <th scope="col">Haber</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr id="datosdiarios">
                          <td id="ccod_cue_debe">{{ consulta.0.pgplan.ccod_cue }}</td>
                          <td><div id="nombre">{{consulta.0.pgplan.cdsc}}</div></td>
                        
                          <td id="montodebe">{{ consulta.0.ndebe }}</td>
                          <td id="xhaber">{{ consulta.0.nhaber }}</td>
                          <td id="codigoBald"></td>
                          <td id="idplanD">{{ consulta.0.pgplan.pk }}</td>
                          <td id="idD">{{ consulta.0.pk }}</td>
                        </tr>
                        <tr id="datosdiarios">
                          <td id="ccod_cue_haber">{{ consulta.1.pgplan.ccod_cue }}</td>
                          <td> <div id="nombre">{{consulta.1.pgplan.cdsc}}</div></td>
                        
                          <td id="xdebe">{{ consulta.1.ndebe }}</td>
                          <td id="montohaber">{{ consulta.1.nhaber }}</td>
                          <td id="codigoBalh"></td>
                          <td id="idplanH">{{ consulta.1.pgplan.pk }}</td>
                          <td id="idH">{{ consulta.1.pk }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <ul class="todo-list" id="mislistasb">
                    <li>
                      <div class="">
                        <span id="plan_debe">reconocimiento: </span>
                        <span id="glosa" >{{consulta.1.cglosa}}</span>
                      </div>
                    </li>
                  </ul>
                </form>
            </div>

            <div class="modal-footer">
              <div class="box-footer clearfix" id="pacioli_operab">
                
                <button type="button" class="pull-right btn btn-default" id="guardarb" onclick="insertar()" >
                  Grabar
                  <i class="fa fa-arrow-circle-right"></i>
                </button>

                <button type="button" class="pull-right btn btn-default" id="guardarb" onclick="cancel()" >
                  Cancelar
                  <i class="fa fa-times-circle"></i>
                </button>

              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="modal fade" id="reportesMeses" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          
          <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reporteLabelModal"></h5>
                <h3 id="box-title"></h3>
                <p id="identificadorReporte"></p>
            </div>
            <div class="modal-body">
              <!--//datos de carga de la database-->
             <form>
               <div class="form-group col-md-12 col-xs-12">
                <div class="form-group" id="radios">
                  <label class="radio-inline" id="elmesLabel"><input type="radio" name="optradio" value="0" id="elmes" checked>Del mes</label>
                  <label class="radio-inline" id="acumuladomesLabel"><input type="radio" name="optradio" value="1" id="acumuladomes">Acumulado al mes</label>
                </div>

                <div class="form-group" id="">
                  <label for="registro">Reportes</label>
                  <select class="form-control" name="registro" id="mesDescargaReporte" onchange="cmabiarUrl(this)">
                    <option value="1">Enero</option>
                    <option value="2">Febrero</option>
                    <option value="3">Marzo</option>
                    <option value="4">Abril</option>
                    <option value="5">Mayo</option>
                    <option value="6">Junio</option>
                    <option value="7">Julio</option>
                    <option value="8">Agosto</option>
                    <option value="9">Setiembre</option>
                    <option value="10">Octubre</option>
                    <option value="11">Noviembre</option>
                    <option value="12">Diciembre</option>
                  </select>
                </div>                       
               </div>
             </form> 




              <!--//datos de carga de la database-->
            </div>
            <div class="modal-footer" id='botones'>
              <button type="button" class="btn btn-info" onclick="descargarReporte(this)" >Aceptar</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
              <a id="urlcambiante" href="#" class="btn btn-info" style="display: none;" >Aceptar</a>
            </div>
          </div>
        </div>
      </div>

      <!--//modals-->
    </section>

    

    <!-- Main content -->
    <section class="content" id="principalreportes">
      <div class="row">
        <div class="col-lg-6 col-xs-6" >
            <div class="box box-primary">
                <div class="box-header">
                  <h3 class="box-title">DEBE</h3><br>
                  <small>seleccione elemento</small>
                </div>
                
                <div class="box-body bg-success">
                  <ul class="todo-list">
                    <li>

                      <div class="">
                        <span class="h3 font-weight-bold text-success">+</span>
                        <span class="text" onclick="getPlanes(1)" id="no">
                          <a href="#">
                            <span data-target="#exampleModal" data-toggle="modal" onclick="gettipo('DACTIVO')">
                              ACTIVO 
                            </span>
                          </a>
                        </span>
                      </div>

                    </li>
                    <li>

                      <div class="">
                        <span class="h3 font-weight-bold text-success">+</span>
                        <span class="text" onclick="getPlanes(5)">
                          <a href="#">
                            <span data-target="#exampleModal" data-toggle="modal" onclick="gettipo('DGASTOS')"> 
                              GASTOS 
                            </span>
                          </a>
                        </span>

                      </div>
                    </li>
                    <li>

                      <div class="">
                        <span class="h3 font-weight-bold text-danger">-</span>
                        <span class="text" onclick="getPlanes(2)">
                          <a href="#">
                            <span data-target="#exampleModal" data-toggle="modal" onclick="gettipo('DPASIVO')">
                              PASIVO
                            </span>
                          </a> 
                        </span> 
                      </div>

                    </li>
                    <li>

                      <div class="">
                        <span class="h3 font-weight-bold text-danger">-</span>
                        <span class="text" onclick="getPlanes(3)">
                          <a href="#">
                            <span data-target="#exampleModal" data-toggle="modal" onclick="gettipo('DCAPITAL')"> 
                              CAPITAL 
                            </span>
                          </a>
                        </span>
                      </div>

                    </li>
                    <li>

                      <div class="">
                        <span class="h3 font-weight-bold text-danger">-</span>
                        <span class="text" onclick="getPlanes(4)"> 
                          <a href="#">
                            <span data-target="#exampleModal" data-toggle="modal" onclick="gettipo('DINGRESO')"> 
                              INGRESO
                            </span>
                          </a>
                        </span>
                      </div>

                    </li>
                    
                  </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-xs-6">
            <div class="box box-success">
                <div class="box-header text-right">
                  <h3 class="box-title">HABER</h3><br>
                  <small>seleccione elemento</small>
                </div>
                <div class="box-body bg-danger">
                  <ul class="todo-list">
                    <li>

                      <span class="h3 font-weight-bold text-success">+</span>
                      <span class="text" onclick="getPlanes(2)"> 
                        <a href="#">
                          <span data-target="#exampleModal" data-toggle="modal" onclick="gettipo('HPASIVO')"> 
                            PASIVO
                          </span> 
                        </a> 
                      </span> 

                    </li>
                    <li>

                      <span class="h3 font-weight-bold text-success">+</span>
                      <span class="text" onclick="getPlanes(3)">
                        <a href="#">
                          <span data-target="#exampleModal" data-toggle="modal" onclick="gettipo('HCAPITAL')"> 
                            CAPITAL 
                          </span> 
                        </a>
                      </span>

                    </li>
                    <li>

                      <span class="h3 font-weight-bold text-success">+</span>
                      <span class="text" onclick="getPlanes(4)"> 
                        <a href="#">
                          <span data-target="#exampleModal" data-toggle="modal" onclick="gettipo('HINGRESO')"> 
                            INGRESO 
                          </span> 
                        </a> 
                      </span>

                    </li>
                    <li>
                      <span class="h3 font-weight-bold text-danger">-</span>
                      <span class="text" onclick="getPlanes(1)"> 
                        <a href="#">
                          <span data-target="#exampleModal" data-toggle="modal" onclick="gettipo('HACTIVO')"> 
                            ACTIVO 
                          </span> 
                        </a> 
                      </span>
                    </li>
                    <li>
                      <span class="h3 font-weight-bold text-danger">-</span>
                      <span class="text" onclick="getPlanes(5)"> 
                        <a href="#">
                          <span data-target="#exampleModal" data-toggle="modal" onclick="gettipo('HGASTOS')"> 
                            GASTOS 
                          </span> 
                        </a> 
                      </span>
                    </li>
                    
                  </ul>
                </div>
                
            </div>
        </div>
      </div>
      <!--
      <div class="row" id="myForm">
        <div class="col-lg-12 col-xs-12" >
          <div class="box box-primary">
          
          </div>
        </div>
      </div>
    -->

      <div class="row">
        <div class="col-lg-6 col-xs-12" id="todosPlanes">
          <!--
            <div class="box box-primary">

                <div class="box-header">
                    <h5 class="box-title">Seleccione su cuenta <span id="tipoCuenta"></span>
                      <i class="fa fa-arrow-down" style="font-size:36px;color:red"></i>
                    </h5>
                </div>

                <div class="box-body">  
                  <div class="table-responsive" id="mislistas">
                    <table class="table table-striped table-hover table-fixed" id="exportarTablas">
                      
                      <tbody id="bodyMayor">
                      </tbody>
                    
                    </table>
                  </div>
                  
                  <p> <small id="tipo_planb"></small> </p>
                  <ul class="todo-list" id="mislistas">
                  </ul>
                  
                </div>
            </div>
          -->
        </div>


        <div class="col-lg-6 col-xs-12" id="RegistreReconocimineto">
          <!--<div class="box box-info">-->
            <div class="box-header" id="seleccioneElemento">
              <!--<h3 class="box-title" id="cambio"> Seleccione Elemento   </h3>-->
              <!--<span id="flecha"> </span>-->
            </div>
            <!--
            <div class="box-body" id="pacioli_opera">
              <form action="#" method="post" id="fomIndex">
                <div class="form-group">
                  <label for="Reconocimiento">Reconocimiento</label>
                  <input type="text" class="form-control" onkeydown="validara()" name="Reconocimiento" id="glosaantes" placeholder="El párrafo del MC que sustenta o la glosa"/>
                </div>
                <div class="form-group">
                  <label for="Medicion">Medición</label>
                  <input type="text" class="form-control" onkeydown="validarb()" name="Medicion" id='montoantes' placeholder="Sin coma de millar">
                </div>
              </form>
            </div>
            
            <div class="box-footer clearfix" id="pacioli_operab">
              <button type="button" class="pull-right btn btn-default" id="guardara" onclick="pasarGrabar()" >Aceptar
                <i class="fa fa-arrow-circle-right"></i></button>
            </div>            
          -->
          <!--</div>-->
        </div>


        <div class="col-lg-5 col-xs-12">
<!--
          <div class="box box-info">
              <div class="box-header">

                <i class="fa fa-calculator"></i>
                <h3 class="box-title">Asiento Contable</h3>
              </div>
              <div class="box-body">

                  <form action="#" method="post" id="fomIndex">
                    <div class="table-responsive">
                    <table class="table table-striped table-hover table-fixed" >
                      <thead>
                        <tr>
                          <th scope="col">Cuenta</th>
                          <th scope="col">Descripción</th>
                          <th scope="col">Debe</th>
                          <th scope="col">Haber</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr id="datosdiarios">
                          <td id="nombre_plan_debe"></td>
                          <td id="">
                            <input type="text" name="" id="cuenta_debe" size="10px" style="border:none;" disabled>
                          </td>
                          <td id="nuevodebe">0.00</td>
                          <td id="xhaber">0.00</td>
                          <td id="codigoBald"></td>
                          <td id="idDebe"></td>
                        </tr>
                        <tr id="datosdiarios">
                          <td id="nombre_plan_haber"></td>
                          <td id="">
                            <input type="text" name="" id="cuenta_haber" size="10px" style="border:none;" disabled>
                          </td>
                          <td id="xdebe">0.00</td>
                          <td id="nuevohaber">0.00</td>
                          <td id="codigoBalh"></td>
                          <td id="idHaber"></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <ul class="todo-list" id="mislistasb">
                    <li>
                      <div class="">
                        <span id="plan_debe">reconocimiento: </span>
                        <span id="ReconocimientoGuardar" ></span>
                      </div>
                    </li>
                  </ul>
                </form>

              </div>
              <div class="box-footer clearfix">
                <button type="button" class="pull-right btn btn-default" id="guardarb" onclick="insertar()" >Grabar
                  <i class="fa fa-arrow-circle-right"></i></button>
              </div>
            </div>

          -->
        </div>
      </div>









    </section>
    <!-- /.content -->
    <!--<section class="content"></section>-->
    <section class="col-lg-5 connectedSortable" style="visibility: hidden;">
      <div class="box box-solid bg-light-blue-gradient">
        <div class="box-body">
          <div id="world-map" style=""></div>
        </div>
      </div>
      <div class="box box-solid bg-teal-gradient">
        <div style="display: none;" class="chart" id="line-chart" style="height: 0px;"></div>
      </div>

      <div class="nav-tabs-custom">

        <div class="tab-content no-padding">
        <div class="chart tab-pane active" id="revenue-chart" style="position: relative; height: 30px;"></div>
        <div class="chart tab-pane" id="sales-chart" style="position: relative; height: 30px;"></div>
        </div>
      </div>
    </section>


  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 1.0. <span id="tipo_plan">0</span> 
      
    </div>
    <strong>Copyright &copy; 2019 <a href="https://adminlte.io">Contasic developer Team</a><span id="upa">{{user.id}}</span> .</strong>
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark" style="display: none;">
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
      <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
      <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Home tab content -->
      <div class="tab-pane" id="control-sidebar-home-tab">
        <h3 class="control-sidebar-heading">Recent Activity</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-birthday-cake bg-red"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                <p>Will be 23 on April 24th</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-user bg-yellow"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>

                <p>New phone +1(800)555-1234</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>

                <p>nora@example.com</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-file-code-o bg-green"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>

                <p>Execution time 5 seconds</p>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

        <h3 class="control-sidebar-heading">Tasks Progress</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Custom Template Design
                <span class="label label-danger pull-right">70%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Update Resume
                <span class="label label-success pull-right">95%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-success" style="width: 95%"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Laravel Integration
                <span class="label label-warning pull-right">50%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Back End Framework
                <span class="label label-primary pull-right">68%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

      </div>
      <!-- /.tab-pane -->
      <!-- Stats tab content -->
      <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
      <!-- /.tab-pane -->
      <!-- Settings tab content -->
      <div class="tab-pane" id="control-sidebar-settings-tab">
        <form method="post">
          <h3 class="control-sidebar-heading">General Settings</h3>

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Report panel usage
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Some information about this general settings option
            </p>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Allow mail redirect
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Other sets of options are available
            </p>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Expose author name in posts
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Allow the user to show his name in blog posts
            </p>
          </div>
          <!-- /.form-group -->

          <h3 class="control-sidebar-heading">Chat Settings</h3>

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Show me as online
              <input type="checkbox" class="pull-right" checked>
            </label>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Turn off notifications
              <input type="checkbox" class="pull-right">
            </label>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Delete chat history
              <a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
            </label>
          </div>
          <!-- /.form-group -->
        </form>
      </div>
      <!-- /.tab-pane -->
    </div>
  </aside>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->
<!-- ./wrapper -->
<script src="{% static 'js/dina.js' %}"></script>
<script src="{% static 'admin/bower_components/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'admin/bower_components/jquery-ui/jquery-ui.min.js' %}"></script>
<script>
  $.widget.bridge('uibutton', $.ui.button);
  document.getElementById("upa").style.visibility = "hidden";
carga=()=>{

  document.getElementById("glosaantes").focus();
  document.getElementById("todosPlanes").style.display = "none";
  
  //document.getElementById("flecha").innerHTML = "<i class='fa fa-arrow-up' style='font-size:36px;color:red'></i>";
  //document.getElementById("seleccioneElemento").innerHTML = "<h5 class='box-title'>Seleccione Elemento <span id='tipoCuenta'></span><i class='fa fa-arrow-up' style='font-size:36px;color:red'></i></h5>"

  //document.getElementById("pacioli_opera").style.display= "none";
  //document.getElementById("pacioli_operab").style.display= "none";
  //guardar
  document.getElementById("guardarb").disabled = true;
  //boton pasar 
  document.getElementById("guardara").disabled = false;

  document.getElementById("codigoBald").style.visibility = "hidden";
  document.getElementById("codigoBalh").style.visibility = "hidden";
  
  document.getElementById("idplanD").style.visibility = "hidden";
  document.getElementById("idplanH").style.visibility = "hidden";

  document.getElementById("idD").style.visibility = "hidden";
  document.getElementById("idH").style.visibility = "hidden";

  $('#asientoModal').modal('show'); 

}

pasarGrabar=()=>{
  var miglosa = document.getElementById("glosaantes").value;
  var mimonto = document.getElementById("montoantes").value;

  //console.log(miglosa);
  //console.log(mimonto);

  document.getElementById("glosa").innerHTML = miglosa;
  document.getElementById("montodebe").innerHTML = mimonto;
  document.getElementById("montohaber").innerHTML = mimonto;
  document.getElementById("xhaber").innerHTML = "0.00";
  document.getElementById("xdebe").innerHTML = "0.00";


  document.getElementById("guardarb").disabled = false;
  $('#formularioModal').modal('hide'); 
  $('#asientoModal').modal('show'); 
  
}



  gettipo=(dt)=>{
    HD = dt.substring(0,1);
    nombre = dt.substring(1);
    document.getElementById("tipoCuenta").innerHTML = nombre;
    document.getElementById("tipo_plan").innerHTML = HD;
  }

  getPlanes=(dato)=>{
    $("#bodyMayor").empty();
    //document.getElementById("todosPlanes").style.visibility = "visible";
    //RegistreReconocimineto
    document.getElementById("todosPlanes").style.display = "block";  
    document.getElementById("RegistreReconocimineto").style.display = "none";  
    var taba = document.getElementById("mislistas");
    var tipo = document.getElementById("tipoCuenta");
    $.ajax({
        data:{'dato':dato},
        url : '/pacioli/busqueda/',
        type: 'get',
        success:function(data){
            //console.log(data);
            document.getElementById("mislistas").style.display='block';
            var html = " ";
            if(data.length == 0){
                console.log("datos vacios");
            }
            else{

                for(var i=0; i<data.length; i++){
                  htmlb = "<tr>"+
                    "<td class='p-4 text-info'>"+data[i].fields.ccod_cue+"</td>"+
                    "<span class='text' onclick='passPlanes("+ data[i].fields.ccod_cue +")' > "+
                    "<td onclick='passPlanes("+ data[i].fields.ccod_cue +")'> <a href='#'> "+data[i].fields.cdsc+" </a> </span></td>"+
                    "<td class='p-4 text-info' style='visibility:hidden;''>"+data[i].fields.ccod_bal2+"</td>"+
                    "<td class='p-4 text-info' style='visibility:hidden;''>"+data[i].pk+"</td>"+
                    "</tr>";
                
                  /*
                  html += "<li>"+
                        "<div class=''> "+
                          "<small class='label label-default'> "+data[i].fields.ccod_cue+" </small>"+
                          "<span class='text' onclick='passPlanes("+ data[i].fields.ccod_cue +")' > "+
                          "<a href='#'> "+data[i].fields.cdsc+" </a> </span>"
                        "</div> </li>";*/
                    $("#bodyMayor").append(htmlb);
                }

            }
            
            //$("#mislistas").html(html);
            //console.log(data);
        }
    }); 
    
}


/*
insertar=()=>{
  gl =  document.getElementById('ReconocimientoGuardar').innerHTML;
  
  mon =  document.getElementById('nuevodebe').innerHTML;
  
  debe = document.getElementById('nombre_plan_debe').innerHTML;
  
  haber = document.getElementById('nombre_plan_haber').innerHTML;
  
  usuar = document.getElementById("upa").innerHTML;
  
  cuenta_de = document.getElementById('cuenta_debe').value;

  cuenta_ha = document.getElementById('cuenta_haber').value;

  bal_debe = document.getElementById('codigoBald').innerHTML;

  bal_haber = document.getElementById('codigoBalh').innerHTML;
  
  id_debe = document.getElementById('idDebe').innerHTML;

  id_haber = document.getElementById('idHaber').innerHTML;

  $.ajax({
        data:{'debe':debe,'haber':haber,'monto':mon,'cglosa':gl,'usua':usuar,'cuenta_des':cuenta_de,'cuenta_has':cuenta_ha,'bal_debe':bal_debe, 'bal_haber':bal_haber,'id_debe': id_debe,'id_haber':id_haber},
        url : '/pacioli/ingresar/',
        type: 'get',
        success:function(data){
            document.getElementById("fomIndex").reset();
            
            
            //console.log(data);
            document.getElementById('nombre_plan_debe').innerHTML="";
            document.getElementById('cuenta_debe').value="";
            document.getElementById('nuevodebe').innerHTML="0.00";
            document.getElementById('xhaber').innerHTML="0.00";
            document.getElementById('nombre_plan_haber').innerHTML="";
            document.getElementById('cuenta_haber').value="";
            document.getElementById('xdebe').innerHTML="0.00";
            document.getElementById('nuevohaber').innerHTML="0.00";
            
            document.getElementById('ReconocimientoGuardar').innerHTML="";

            document.getElementById("codigoBald").innerHTML = "";
            document.getElementById("codigoBalh").innerHTML = "";
            document.getElementById("idDebe").innerHTML = "";
            document.getElementById("idHaber").innerHTML = "";

            $('#asientoModal').modal('hide'); 
        }
        
    });  

 //para que vuelva al inicio
  //document.getElementById("cambio").innerHTML = "Seleccione Elemento";

  //document.getElementById("flecha").innerHTML = "<i class='fa fa-arrow-up' style='font-size:36px;color:red'></i>";
  //document.getElementById("seleccioneElemento").innerHTML = "<h5 class='box-title'>Seleccione Elemento <span id='tipoCuenta'></span><i class='fa fa-arrow-up' style='font-size:36px;color:red'></i></h5>"
  //document.getElementById("pacioli_opera").style.display= "none";
  document.getElementById("pacioli_operab").style.display= "none"; 

  document.getElementById("guardarb").disabled = true;


}
*/

insertar=()=>{
  glosa =  document.getElementById('glosa').innerHTML;
  montodebe =  document.getElementById('montodebe').innerHTML;
  usuar = document.getElementById("upa").innerHTML;
  idplanD = document.getElementById('idplanD').innerHTML;
  idplanH = document.getElementById('idplanH').innerHTML;

  idD = document.getElementById('idD').innerHTML;
  idH = document.getElementById('idH').innerHTML;

  $.ajax({
        data:{'glosa':glosa,'monto':montodebe,'usuario':usuar, 'id_plan_debe': idplanD,'id_plan_haber':idplanH, 'id_debe': idD,'id_haber':idH},
        url : '/pacioli/editar/',
        type: 'get',
        success:function(data){
            document.getElementById("fomIndex").reset();
            
            document.getElementById('ccod_cue_debe').innerHTML="";
            document.getElementById('ccod_cue_haber').innerHTML="";

            document.getElementById('nombre').innerHTML="";

            document.getElementById('montodebe').innerHTML="";
            document.getElementById('montohaber').innerHTML="";

            document.getElementById("idplanD").innerHTML = "";
            document.getElementById("idplanH").innerHTML = "";

            document.getElementById("idD").innerHTML = "";
            document.getElementById("idH").innerHTML = "";
            

            $('#asientoModal').modal('hide'); 
            usuar = document.getElementById("upa").innerHTML;
            window.location.href = "/pacioli/mantenimientoAsientos/"+usuar+"";
        }
        
    });  

  document.getElementById("pacioli_operab").style.display= "none"; 

  document.getElementById("guardarb").disabled = true;


}


passPlanesb=(dato)=>{
  //busquedaUnPlan
  //tipo_plan
  //console.log(dato);
  tipo_plan = document.getElementById("tipo_plan").innerHTML;
  $.ajax({
        data:{'dato':dato},
        url : '/pacioli/busquedaunplan/',
        type: 'get',
        success:function(data){
            //console.log(data);
            //console.log(data[0].fields.cdsc);
            //console.log(data[0].fields.ccod_bal2);
            console.log(data[0].pk);
            /*
            bal = "0"
            if (data[0].fields.ccod_bal2!=null){
                bal = data[0].fields.ccod_bal2;
            }
            else{
              bal = "-"
            }
            mi_cuenta = data[0].fields.cdsc;
            */
            id= data[0].pk;
            //mi_bal = data[0].fields.ccod_bal;
            if(tipo_plan=="D"){
  //            document.getElementById("cuenta_debe").value = mi_cuenta;
              //document.getElementById("codigoBald").innerHTML = bal;
              document.getElementById("idplanD").innerHTML = id;
            }
            else{
 //             document.getElementById("cuenta_haber").value = mi_cuenta;
              //document.getElementById("codigoBalh").innerHTML = bal;
              document.getElementById("idplanH").innerHTML = id;
            }
            
            //document.getElementById("cuenta_debe").innerHTML = mi_cuenta;
            //document.getElementById("cuenta_debe").innerHTML = mi_cuenta;
        }
        
    });

}



passPlanes=(dato)=>{
  plan = dato;

  passPlanesb(dato);

  tipo_plan = document.getElementById("tipo_plan").innerHTML;

  document.getElementById("todosPlanes").style.display = "none";
  document.getElementById("RegistreReconocimineto").style.display = "block";
  //plan_debe
  
  if(tipo_plan=="D"){
    document.getElementById("ccod_cue_debe").innerHTML = plan;
  }
  else{
    document.getElementById("ccod_cue_haber").innerHTML = plan;
  }
  document.getElementById("tipo_plan").innerHTML = "";

  let de = document.getElementById("ccod_cue_debe").innerHTML;
  let ha = document.getElementById("ccod_cue_haber").innerHTML;
  
  if (de.length>0  && ha .length>0){
    document.getElementById("pacioli_operab").style.display= "block";
    $('#formularioModal').modal('show'); 
  }
  else{
    //console.log("falta cuentas tiene debe");
  }
  document.getElementById("glosaantes").focus();
  $('#exampleModal').modal('hide'); 
}


validara=()=>{
  mt = document.getElementById("montoantes").value;
  mta = document.getElementById("glosaantes").value;
  if(mt.length > 0  &&  mta.length >0){
    //console.log(mt.length, mta.length);
    document.getElementById("guardara").disabled = false;

  }
  else{
    //console.log(mt.length, mta.length);
   document.getElementById("guardara").disabled = true; 
  }
}


validarb=()=>{
  mta = document.getElementById("glosaantes").value;
  mt = document.getElementById("montoantes").value;
  if(mta.length > 0 && mt.length > 0){
    //console.log(mt.length, mta.length);
    document.getElementById("guardara").disabled = false;
  }else{
    //console.log(mt.length, mta.length);
    document.getElementById("guardara").disabled = true; 
  }
}

asientoCompleto=()=>{
  //datso de asiento comtable
  let ccod_cue_debe = document.getElementById("ccod_cue_debe").innerHTML;
  let ccod_cue_haber = document.getElementById("ccod_cue_haber").innerHTML;
  let montodebe = document.getElementById("montodebe").innerHTML;
  let glosa = document.getElementById("glosa").innerHTML;
}

cancel=()=>{
  usuar = document.getElementById("upa").innerHTML;
  window.location.href = "/pacioli/mantenimientoAsientos/"+usuar+"";
}

magicos=(boton)=>{
  
  document.getElementById('identificadorReporte').innerHTML = boton.id;
  if(boton.id=='reporteF12' || boton.id=='reporteF11' || boton.id=='reporteF81' || boton.id=='reporteF141' || boton.id=='reporteDiario'){
    document.getElementById("elmes").checked = true;
    document.getElementById("acumuladomes").checked = false; 
  }
  else{
    document.getElementById("acumuladomes").checked = true; 
    document.getElementById("elmes").checked = false;
  }
    //################ESTEFANY################################
  if(boton.id=='reporteF32' || boton.id=='reporteF33' || boton.id=='reporteF34' || boton.id=='reporteF35' || boton.id=='reporteF36'||boton.id=='reporteF31'|| boton.id=='reporteF311'|| boton.id=='reporteF312'|| boton.id=='reporteF313'|| boton.id=='reporteF315'){
  document.getElementById("elmes").disabled = true;
  document.getElementById("acumuladomes").checked = true;
  }
  //########################################################
  document.getElementById('magicos').click();

}

mostrarReportes=()=>{
  //console.log("mostrarReportes $ $ $");
  $('#reportesMeses').modal('show');
}


mesDescargaReporte = '00';
descargarReporte=(url)=>{
  urls =  document.getElementById('identificadorReporte').innerHTML;
  usuario = document.getElementById('upa').innerHTML;
  mesDescargaReporte = document.getElementById('mesDescargaReporte').value;
  var url = "{% url 'reporteF11' user.id 123 %}".replace('123', mesDescargaReporte).replace('reporteF11', urls);
  console.log(url, 'aceptar');

  var link = document.getElementById("urlcambiante");
  //link.innerHTML = "facebook";
  link.setAttribute('href', url);

  document.getElementById("urlcambiante").click();

}

cmabiarUrl=(cambio)=>{
  
  m = cambio.value;
  urls =  document.getElementById('identificadorReporte').innerHTML;
  //var url = "{% url 'reporteF11' user.id 123 %}".replace('123', $('#myinput').val());
  var url = "{% url 'reporteF11' user.id 123 %}".replace('123', m).replace("'reporteF11'", urls);
  console.log(url);
}



</script>
<script src="{% static 'admin/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'admin/bower_components/raphael/raphael.min.js' %}"></script>
<script src="{% static 'admin/bower_components/morris.js/morris.min.js' %}"></script>
<script src="{% static 'admin/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js' %}"></script>
<script src="{% static 'admin/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js' %}"></script>
<script src="{% static 'admin/plugins/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
<script src="{% static 'admin/bower_components/jquery-knob/dist/jquery.knob.min.js' %}"></script>
<script src="{% static 'admin/bower_components/moment/min/moment.min.js' %}"></script>
<script src="{% static 'admin/bower_components/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
<script src="{% static 'admin/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'admin/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js' %}"></script>
<script src="{% static 'admin/bower_components/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'admin/bower_components/fastclick/lib/fastclick.js' %}"></script>
<script src="{% static 'admin/dist/js/adminlte.min.js' %}"></script>
<script src="{% static 'admin/dist/js/pages/dashboard.js' %}"></script>
<script src="{% static 'admin/dist/js/demo.js' %}"></script>

</body>
</html>